<!DOCTYPE html>
<html>
<head>
  <title>Yboard|why?に対して気軽に対話できる場</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <header class="clearfix">
        <h1 class="left">
            <%= link_to "Yboard", root_path %>
        </h1>
        <div class="button_position right">
          <% if @path.is('topics#index') %> <!-- コントローラーごとに分岐 -->
            <%= render 'topics/modal_new' %>
          <% elsif @path.is('topics#show') %>
            <%= render 'comments/modal_comment' %>
          <% end %>
        </div>
    </header>
</div>
<hr>

<%= yield %>

<hr>
<%= render 'layouts/footer' %>
</body>
</html>
